body, 
html {
	font-family: "Roboto", helvetica, arial, sans-serif;
	max-width: 100%;
	margin: 0;
	padding: 0; 
}

img, 
object, 
video {
	max-width: 100%;
}

header {
	display: block;
	width: 100%;
	border-bottom: solid 1px #2d3c49; 
}

.udacity_logo {
	padding: 1em;
	width: 75px;
	height: 75px;
}

.header_name {
	display: block;
	padding: 1em;
	float: right;
	text-align: right;
	color:#2d3c49;
}

.hero_container {
	padding-top: 15px;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.hero {
	display: block;
	width: 100%;
	position: relative;
	background-image: url("images/lisboa.jpg");
	background-size: cover;
	height: 20em;
}

.content {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 0;
	padding-right: 0;
	border-bottom: solid 1px #2d3c49;
}

.featured {
	display: block;
	color: #7d97ad;
	padding-left: 1em;
	padding-bottom: 0;
	font-weight: bold;

}

.work {
	color: #2d3c49;
	display: block;
	padding-left: 1em;
	padding-top: 0;
	float: left;
	width: 30%;
	text-align: center;
}

.example_image {
	height: 75%;
	width: 100%;
}

.footer {
	height: 4em;
	display: block;
	width: 100%;
	background-color: #02b3e4;
	color: white;
	text-align: center;
	padding-top: 1em;

}

@media screen and (max-width: 500px) {
	.featured {
	display: block;
	color: #7d97ad;
	text-align: center;
	font-weight: bold;
	padding-left: 0;
}

	.work {
	color: #2d3c49;
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	padding-left: 0;
	font-weight: bolder;
}

}