.featured{
	display: block;
	color: #7d97ad;
	text-align: center;
	font-weight: bold;
	padding-left: 0px;
}

.work {
	color: #2d3c49;
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	padding-left: 0px;
	font-weight: bolder;
}
